@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu&display=swap');

html {
    font-family: 'Inter', sans-serif;
    background-color: #1c334e;
}


* {
    margin :0;
    padding: 0;
}

body {
    height: 100%;
}
            /* Header */

.header {
	overflow: hidden;
	background-color:  #5e3d9f;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;

}

.header a.logo {
    font-size: 1.2em;
    justify-content: center;
    border: 1px solid white;
    transform: translate(0px,10px);
    margin-left: 10px;
}

.header a:hover {
	background-color: #3d2868;
	color: white;
}

.header a.active {
	background-color:#1c334e;
	color: white;
}

.header-right  {
    float: right;
    transform: translate(0px,-10px);
    margin-right: 10px;
}



            /* Header parallax image */



.parallax {
    /* The image used */
    background-image: url("../image/header.png");
  
    /* Set a specific height */
    min-height: 500px;
    max-height: 600px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("../image/headerperso.png");
  
    /* Set a specific height */
    min-height: 500px;
    max-height: 600px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    /* The image used */
    background-image: url("../image/contact.jpg");
  
    /* Set a specific height */
    min-height: 500px;
    max-height: 600px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

            /* Cards */


#cardcomp {
    width: 80%;
    margin: 0 auto;
    background:  #5e3d9f;
    border-radius: 10px;
}

#cardcomp h1 {
    text-align: center;
    padding: 10px;
    color: white;

}

#cardcomp p {
    color: white;
}

#cardcomp h3 {
    color: white;
}

#cardcomp1 {
    width: 80%;
    margin: 0 auto;
    background:  #2d2d2d;
    border-radius: 10px;
}

#cardcomp1 h1 {
    text-align: center;
    padding: 10px;
    color: #fff;

}

table {
    width: 100%;
    border-collapse: collapse;
}


.borderline {
    border-right: 3px solid white;
    width: 50%;
    text-indent: 10px;
}

.borderline1 {
    width: 50%;
    text-indent: 10px;
}

.indent {
    width: 50%;
    margin-left: 20px;
}

.lilhr {
    width: 50%;
    border: 2px solid whitesmoke;
    margin-left: 10px;
}

            /* Barre de progression */

.progress {
  width: 70%;
  height: 9px;
  background: #000;
  border-radius: 3000px;
  overflow: hidden;
  margin-left: 30px;
}
  
.progress-bar{
    border-radius: 0px 100px 100px 0px;
    display: block;
    height: 100%;
    background: lightpink;
    background-size: 300% 100%;
  }

.marginbot {
    margin-bottom: 10px;
}

.margintop {
    margin-top: 10px;
}

.botborder {
    border-bottom: 1px solid black;
}

            /* Footer */

#footer {
    height: 20vh;
    background: #5e3d9f;
    width: 100%;
    margin-top: 30px;
}

#footer p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#footer .img {
    width: 50px;
    height: 50px;
    margin:  0 auto;
    display: block;
}

        /* CSS Grid */

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    max-width: 800px;
}
.wrapper li {
    border: 1px solid #ccc;
}
.wrapper li.landscape {
    grid-column-end: span 2;
}

.wrapper li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#contactcard{
    width: 80%;
    margin: 0 auto;
    background:  #5e3d9f;
    border-radius: 10px;
    text-align: center;
}
        
#contactcard h1 {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 3em;
        
}
        
#contactcard h2 {
    color: white;
    text-decoration: underline;
    width: 100%;
    background: #1c334e;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    font-size: 2em;
    }

#contactcard a {
    color: white;
    text-decoration: none;
}


.iframe {
    width: 90%;
    max-height: 350px;
    min-height: 250px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.btncontact {
    border-color: #1c334e;
    color: #000;
    background-image: -webkit-linear-gradient(45deg, #1c334e 50%, transparent 50%);
    background-image: linear-gradient(45deg, #1c334e 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 1000ms ease-in-out;
    transition: background 1000ms ease-in-out;
    padding: 30px;
    border: 2px solid #1c334e;
    border-radius: 0.6em;
    background-color: transparent;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }

  .btncontact:hover {
    background-position: 0;
  }

  .profile {
      border-radius: 10em;
      width: 256px;
      height: 256px;
      object-fit: cover;
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: 10px 5px 10px grey;
  }

  .presentation {
      width: 70%;
      font-size: 1.5em;
      margin-bottom: 30px;
      text-align: justify;
      margin: 0 auto;
      display: block;
  }

  .presentationa {
      color: white;
      text-decoration: none underline;
      text-align: center;
      font-size: 1.5em;
      display: block;
      margin-top: 10px;
  }

  .presentationa::before {
      content: "↳";
  }
  .cv {
      height: 128px;
      width: 128px;
      margin: 0 auto;
      display: block;
      margin-top: 40px;
  }

  #comphu {
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-auto-rows: auto;
    color: white;
    font-size: 1.4em;
    padding: 20px;
    row-gap: 20px;
}

